.capibility {
    .container {
        max-width: 1040px;
    }
    p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    ul {
        li {
            padding-left: 16px;
            position: relative;
            margin-bottom: 10px;
            font-size: 14px;
            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 3px solid $blue-3;
                top: 7px;
                left: 0;
            }
        }
    }
    &_pic {
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 767px) {
        &_pic {
            width: 100%;
            max-width: 500px;
            margin-bottom: 30px;
        }
    }
}