@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Play:wght@400;700&display=swap');

$font-open: 'Open Sans', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-play: 'Play', sans-serif;
$transition-common: 0.3s;
$transition-second: 0.5s;
$blue-1: #065090;
$blue-2: #8FE0E4;
$blue-3: #A7BDBC;
$blue-4: #2E8AC1;
$blue-5: #0B568B;
$gray-bb: #bbbbbb;
$gray-c1: #c1c1c1;
$gray-85: #858585;

body {
    font-family: $font-open;
    background-color: #fcfcfc;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

input, button, select {
    background-color: transparent;
    outline: none;
    border: 0;
    font-family: $font-open;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

select {
    appearance: none;
    background-image: url(../img/arrow-down-gray.svg);
    background-size: 15px 7px;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
}

main {
    padding-top: 80px;
    overflow: hidden;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.pb-bottom {
    padding-bottom: 150px;
    @media screen and (max-width: 575px) {
        padding-bottom: 75px;
    }
}

.textarea-common {
    background-color: #F1F1F1;
    border: 1px solid $gray-bb;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 16px;
    font-family: $font-mont;
    &::placeholder {
        font-size: 16px;
        color: $blue-3;
        font-family: $font-mont;
    }
}

.input {
    &-common {
        height: 50px;
        background-color: #F1F1F1;
        border: 1px solid $gray-bb;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 16px;
        font-family: $font-mont;
        &::placeholder {
            font-size: 16px;
            color: $blue-3;
            font-family: $font-mont;
        }
    }
    &-item {
        margin-bottom: 20px;
        label {
            color: $blue-1;
            font-size: 14px;
            font-family: $font-mont;
            margin-bottom: 8px;
        }
        .input-common, .textarea-common {
            width: 100%;
        }
    }
    &-vert {
        display: flex;
        padding-right: 15px;
        align-items: center;
        input {
            width: calc(100% - 20px - 40px - 15px);
        }
        &_icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        &_pic {
            width: 40px;
            margin-left: 15px;
        }
    }
}

.btn {
    &-blue4 {
        border-radius: 15px;
        background-color: $blue-4;
        color: #fff;
        font-family: $font-mont;
        transition: $transition-common;
        &:hover {
            background-color: $blue-2;
        }
    }
    &-line4 {
        border-radius: 15px;
        border: 1px solid $blue-4;
        font-family: $font-mont;
        transition: $transition-common;
        font-size: 14px;
        color: $blue-4;
        padding: 8px 20px;
        &:hover {
            border-color: $blue-2;
            background-color: $blue-2;
            color: #fff;
        }
    }
    &-blue1 {
        border-radius: 15px;
        background-color: $blue-1;
        color: #fff;
        font-family: $font-mont;
        transition: $transition-common;
        &:hover {
            background-color: $blue-2;
        }
    }
    &-line1 {
        border-radius: 15px;
        border: 1px solid $blue-1;
        font-family: $font-mont;
        transition: $transition-common;
        // font-size: 14px;
        color: $blue-1;
        padding: 8px 20px;
        &:hover {
            border-color: $blue-2;
            background-color: $blue-2;
            color: #fff;
        }
    }
    &-more {
        &-line {
            width: 135px;
            height: 35px;
            display: block;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: $blue-5;
                bottom: 0;
                right: 0;
                transition: 0.2s;
            }
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 7px;
                background-color: $blue-5;
                bottom: -1px;
                right: 3px;
                transform: rotate(-60deg);
                transition: 0.2s;
            }
            .inner {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $font-mont;
                color: $blue-5;
                &::before {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 100%;
                    background-color: $blue-5;
                    bottom: 0;
                    left: 0;
                    transition: 0.1s;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 60px;
                    height: 1px;
                    background-color: $blue-5;
                    top: 0;
                    left: 0;
                    transition: 0.1s;
                }
                span {
                    transition: 0.1s;
                }
            }
            &:hover {
                &::before {
                    transition-delay: 0.2s;
                    width: 25%;
                }
                .inner {
                    &::before {
                        transition-delay: 0.1s;
                        height: 0;
                    }
                    &::after {
                        width: 0;
                    }
                    span {
                        transition-delay: 0.4s;
                        transform: translateY(10px);
                    }
                }
            }
        }
        &-bg {
            width: 175px;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: $transition-common;
            background-color: $blue-5;
            border: 1px solid $blue-5;
            &:hover {
                background-color: transparent;
                span {
                    color: $blue-5;
                }
                .btn-more-bg_arrow {
                    left: 95%;
                }
            }
            span {
                font-family: $font-mont;
                transition: $transition-common;
                color: #fff;
            }
            &_arrow {
                position: absolute;
                width: 55px;
                bottom: 15px;
                left: 85%;
                transition: $transition-common;
            }
            @media screen and (max-width: 991px) {
                width: 150px;
                height: 40px;
            }
        }
    }
    &-top {
        position: fixed;
        right: 60px;
        bottom: 200px;
        z-index: 50;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition-common;
        cursor: pointer;
        svg {
            width: 50%;
            path {
                transition: $transition-common;
            }
        }
        &:hover {
            background-color: $blue-2;
            box-shadow: none;
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        @media screen and (max-width: 767px) {
            right: 20px;
        }
    }
    &-download {
        display: flex;
        align-items: center;
        border: 1px solid $gray-bb;
        border-radius: 18px;
        padding: 12px 25px;
        transition: $transition-common;
        margin-bottom: 15px;
        svg {
            width: 20px;
            path {
                transition: $transition-common;
            }
        }
        span {
            width: calc(100% - 20px);
            padding-left: 15px;
            font-family: $font-mont;
            transition: $transition-common;
        }
        &:hover {
            background-color: $blue-2;
            border-color: $blue-2;
            svg {
                path {
                    fill: #fff;
                }
            }
            span {
                color: #fff;
            }
        }
    }
    &-inquiry {
        padding: 10px 40px 8px;
        background-color: $blue-1;
        display: flex;
        align-items: center;
        width: fit-content;
        transition: $transition-common;
        border: 1px solid $blue-1;
        svg {
            width: 20px;
            margin-right: 8px;
            path {
                fill: #fff;
                transition: $transition-common;
            }
        }
        span {
            color: #fff;
            font-family: $font-mont;
            font-size: 18px;
            transition: $transition-common;
        }
        &:hover {
            background-color: transparent;
            svg {
                path {
                    fill: $blue-1
                }
            }
            span {
                color: $blue-1;
            }
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 0 50px;
    z-index: 100;
    &_left, &_right {
        height: 100%;
    }
    &_logo {
        width: 100px;
        margin-right: 45px;
        img {
            width: 100%;
        }
    }
    &_nav {
        height: 100%;
        &_first {
            height: 100%;
            >li {
                height: 100%;
                position: relative;
                &:not(:last-child) {
                    margin-right: 25px;
                }
                >a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        background-color: $blue-4;
                        left: 0;
                        bottom: 0;
                        height: 0;
                        transition: $transition-common;
                        border-radius: 100px 100px 0 0;
                    }
                }
                @media screen and (min-width: 992px) {
                    &:hover {
                        >a {
                            color: $blue-4 !important;
                            &::after {
                                height: 5px;
                            }
                        }
                        .header_nav_second {
                            opacity: 1;
                            visibility: visible;
                            transform: none;
                        }
                    }
                }
            }
        }
        &_second {
            position: absolute;
            left: 0;
            top: 100%;
            min-width: 200px;
            padding-top: 10px;
            opacity: 0;
            visibility: hidden;
            transition: $transition-common;
            transform: translateY(-10px);
            >ul {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                padding: 10px 0;
                width: 100%;
                >li {
                    >a {
                        display: block;
                        padding: 8px 15px;
                        font-size: 13px;
                        color: #4d4d4d;
                        &:hover, &.active {
                            background-color: #D0F6F8;
                            color: $blue-1;
                        }
                    }
                }
            }
        }
        a {
            font-size: 14px;
            transition: $transition-common;
            cursor: pointer;
        }
    }
    &_parker {
        display: block;
        width: 120px;
        margin-right: 30px;
        transition: $transition-common;
        img {
            width: 100%;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &_inquiry {
        padding: 6px 15px;
        border: 1px solid #000;
        border-radius: 100px;
        margin-right: 30px;
        svg {
            width: 15px;
            margin-right: 7px;
            path {
                transition: $transition-common;
            }
        }
        span {
            font-size: 14px;
            transition: $transition-common;
            margin-right: 10px;
        }
        &_num {
            font-size: 12px;
            width: 18px;
            height: 18px;
            background-color: $blue-2;
            line-height: 18px;
            color: $blue-1;
            border-radius: 50%;
        }
        &:hover {
            border-color: $blue-4;
            svg {
                path {
                    fill: $blue-4;
                }
            }
            span {
                color: $blue-4;
            }
        }
    }
    &_lang {
        margin-right: 15px;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        &_active {
            cursor: pointer;
            svg {
                width: 15px;
                margin-right: 5px;
                path {
                    transition: $transition-common;
                }
            }
            span {
                font-size: 14px;
                transition: $transition-common;
                margin-right: 10px;
            }
        }
        &_list {
            position: absolute;
            top: 100%;
            right: 0;
            padding-top: 10px;
            min-width: 100px;
            opacity: 0;
            visibility: hidden;
            transition: $transition-common;
            transform: translateY(-10px);
            ul {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                padding: 10px 0;
                width: 100%;
                >li {
                    >a {
                        display: block;
                        padding: 8px 15px;
                        font-size: 13px;
                        color: #4d4d4d;
                        &:hover, &.active {
                            background-color: #D0F6F8;
                            color: $blue-1;
                        }
                    }
                }
            }
        }
        &:hover {
            .header_lang {
                &_active {
                    svg {
                        path {
                            fill: $blue-4;
                        }
                    }
                    span {
                        color: $blue-4;
                    }
                }
                &_list {
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                }
            }
        }
    }
    &_search {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        &_icon {
            width: 15px;
            cursor: pointer;
            path {
                transition: $transition-common;
            }
        }
        &_form {
            position: absolute;
            width: calc(100vw - 100px);
            top: 100%;
            right: 0;
            padding-top: 10px;
            opacity: 0;
            visibility: hidden;
            transition: $transition-common;
            transform: translateY(-10px);
            form {
                background-color: #fff;
                border-radius: 20px;
                padding: 40px 0;
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
                input {
                    width: calc(100% - 145px - 15px);
                }
                button {
                    width: 145px;
                    height: 50px;
                }
            }
        }
        @media screen and (min-width: 992px) {
            &:hover {
                .header_search {
                    &_icon {
                        path {
                            fill: $blue-4;
                        }
                    }
                    &_form {
                        opacity: 1;
                        visibility: visible;
                        transform: none;
                    }
                }
            }
        }
    }
    &_menu {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $gray-bb;
        margin-left: 20px;
        &_inner {
            width: 15px;
            height: 11px;
            position: relative;
            .bar {
                width: 100%;
                height: 1px;
                background-color: $gray-bb;
                position: absolute;
                left: 0;
                transition: $transition-common;
                &.top {
                    top: 0;
                }
                &.middle {
                    top: 5px;
                }
                &.bottom {
                    top: calc(100% - 1px);
                }
            }
        }
        &.active {
            .header_menu_inner {
                .bar {
                    top: 50%;
                    left: 50%;
                    &.top, &.middle {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &.bottom {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1199px) {
        padding: 0 20px;
        &_logo {
            margin-right: 20px;
        }
        &_nav {
            &_first {
                >li {
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }
        &_parker, &_inquiry {
            margin-right: 20px;
        }
    }
    @media screen and (max-width: 991px) {
        &_nav {
            position: fixed;
            max-width: 414px;
            width: 100%;
            top: 80px;
            right: -414px;
            height: calc(100vh - 80px);
            overflow-y: auto;
            background-color: #fff;
            transition: $transition-common;
            &_first {
                height: auto;
                >li {
                    border-bottom: 1px solid #E2E2E2;
                    margin: 0 !important;
                    position: relative;
                    >a {
                        padding: 15px 25px;
                    }
                    &.drop {
                        >a {
                            &::before {
                                position: absolute;
                                content: "";
                                height: 7px;
                                width: 15px;
                                background-image: url(../img/arrow-bottom-bb.svg);
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                top: 50%;
                                right: 25px;
                                transform: translateY(-50%);
                                transition: $transition-common;
                            }
                        }
                        &.active {
                            &::before {
                                opacity: 1;
                            }
                            >a {
                                &::before {
                                    transform: translateY(-50%) rotate(180deg);
                                }
                            }
                            background-color: #F9F9F9;
                        }
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 3px;
                        height: 100%;
                        background-color: $blue-4;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: $transition-common;
                    }
                }
            }
            &_second {
                opacity: 1;
                visibility: visible;
                position: static;
                transform: none;
                padding: 0;
                display: none;
                transition: inherit;
                >ul {
                    box-shadow: none;
                    border-radius: 0;
                    background-color: transparent;
                    // padding: 0;
                    >li {
                        >a {
                            padding: 8px 25px 8px 60px;
                        }
                    }
                }
            }
            &.active {
                right: 0;
            }
        }
        &_inquiry {
            padding: 0;
            border: 0;
            position: relative;
            span {
                display: none;
            }
            svg {
                width: 20px;
                height: 20px;
            }
            &_num {
                position: absolute;
                top: -8px;
                right: -3px;
            }
        }
        &_search {
            &_icon {
                width: 20px;
                height: 20px;
            }
        }
        &_search {
            &_form {
                opacity: 1;
                visibility: visible;
                transform: none;
                // display: none;
                width: calc(100vw - 40px);
                position: fixed;
                top: 80px;
                right: 20px;
                display: none;
                transition: none;
            }
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    margin-bottom: 30px;
    &_main {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.42);
    }
    &_title {
        position: absolute;
        width: 100%;
        color: #fff;
        font-family: $font-play;
        margin: 0;
        text-align: center;
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 700;
    }
    &_style {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 60%;
        &_title {
            font-size: 44px;
        }
    }
    @media screen and (max-width: 450px) {
        padding-bottom: 80%;
        &_title {
            font-size: 40px;
        }
    }
}

.footer {
    padding: 40px 0 60px;
    background-image: url(../img/footer_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_logo {
        width: 120px;
        display: block;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }
    &_inform {
        li {
            font-size: 13px;
            color: #fff;
            margin-bottom: 8px;
        }
    }
    &_nav {
        width: fit-content;
        margin-left: auto;
        margin-bottom: 30px;
        li {
            margin-bottom: 10px;
            width: 100%;
        }
        a {
            color: #fff;
            font-family: $font-mont;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                transition: $transition-common;
                width: 0;
                height: 1px;
                background-color: #fff;
                left: 0;
                bottom: -2px;
            }
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &_copyright {
        p {
            color: #fff;
            font-size: 12px;
            margin: 0;
            text-align: right;
        }
    }
    &_certi {
        width: 45px;
        margin-left: 20px;
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 991px) {
        &_nav {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}

.privacy {
    position: fixed;
    max-width: 1200px;
    width: calc(100% - 40px);
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 25px 40px;
    z-index: 150;
    p {
        font-size: 14px;
        margin-bottom: 15px;
        font-family: $font-mont;
    }
    a {
        color: $blue-1;
        text-decoration: underline;
        font-weight: 600;
        font-size: 14px;
        transition: $transition-common;
        &:hover{ 
            color: $blue-2;
        }
    }
    &_content {
        font-size: 14px;
    }
    @media screen and (max-width: 575px) {
        padding: 20px;
        a {
            display: block;
            text-align: center;
            margin-bottom: 15px;
        }
        button {
            width: 100%;
        }
    }
}

.breadcrumb {
    margin-bottom: 30px;
    li {
        &:not(:last-child) {
            position: relative;
            padding-right: 24px;
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 15px;
                background-color: #000;
                transform: translateY(-50%) rotate(20deg);
                top: 50%;
                right: 12px;
            }
        }
        svg {
            width: 18px;
            transform: translateY(-2px);
            path {
                transform: $transition-common;
            }
        }
        a {
            font-size: 14px;
            font-family: $font-mont;
            transform: $transition-common;
            &:hover, &.active {
                color: $blue-4;
                svg {
                    path {
                        fill: $blue-4;
                    }
                }
            }
        }
    }
}

.tab {
    &-common {
        margin-bottom: 80px;
        border: 0;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-wrap: nowrap;
        .nav-item {
            margin: 0 12px;
            position: relative;
            &:not(:first-child) {
                &::before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 1px;
                    background-color: $gray-bb;
                    top: 50%;
                    right: 100%;
                }
            }
        }
        .nav-link {
            color: $gray-85;
            font-family: $font-mont;
            padding: 14px 32px;
            border-radius: 100px;
            border: 1px solid $gray-bb;
            transition: $transition-common;
            background-color: #fcfcfc;
            &.active, &:hover {
                border: 1px solid $blue-2;
                background-color: $blue-2;
                color: #fff;
                font-weight: 600;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 1px;
            background-color: $gray-bb;
            top: 50%;
            right: 0;
            z-index: -1;
            // transform: translateY(-50%);
        }
        @media screen and (max-width: 767px) {
            .nav-item {
                margin: 0 6px;
                &:not(:first-child) {
                    &::before {
                        width: 12px;
                    }
                }
            }
            .nav-link {
                padding: 12px 25px;
                font-size: 14px;
            }
        }
        @media screen and (max-width: 575px) {
            margin-bottom: 40px;
            .nav-item {
                margin: 0 6px;
                &:not(:first-child) {
                    &::before {
                        width: 12px;
                    }
                }
            }
            .nav-link {
                padding: 8px 15px;
                font-size: 14px;
            }
        }
        @media screen and (max-width: 400px) {
            .nav-link {
                font-size: 12px;
            }
        }
    }
    &-second {
        justify-content: center;
        margin-bottom: 50px;
        .nav-link {
            background-color: transparent !important;
            padding: 15px 100px;
            border-bottom: 1px solid $gray-bb;
            border-radius: 0 !important;
            color: $gray-85;
            font-family: $font-mont;
            position: relative;
            transition: $transition-common;
            &::after {
                position: absolute;
                content: "";
                width: 18px;
                height: 18px;
                background-image: url(../img/arrow-tab.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
                opacity: 0;
                transition: $transition-common;
            }
            &.active, &:hover {
                font-weight: 600;
                color: $blue-1;
                border-color: $blue-1;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    &-m {
        width: calc(100% - 30px);
        position: relative;
        margin-left: auto;
        margin-bottom: 40px;
        &_active {
            border-radius: 100px 0 0 100px;
            border: 1px solid $gray-bb;
            border-right: 0;
            padding: 8px 30px;
            display: flex;
            align-items: center;
            span {
                width: calc(100% - 15px);
                padding-right: 15px;
                font-family: $font-mont;
            }
            img {
                width: 15px;
            }
        }
        ul {
            position: absolute;
            width: 100%;
            background-color: #fff;
            border-radius: 15px 0 0 15px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
            top: calc(100% + 5px);
            z-index: 10;
            padding: 15px 0;
            display: none;
            a {
                display: block;
                padding: 8px 20px;
                font-family: $font-mont;
                color: $gray-85;
            }
        }
    }
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    a {
        background: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        font-family: $font-mont;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        transition: $transition-common;
        display: block;
        &::after {
            position: absolute;
            content: "";
            width: 63px;
            height: 8px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            top: 42%;
            transition: $transition-common;
        }
        &:hover {
            border-color: $blue-1;
            color: $blue-1;
            background-color: transparent;
        }
    }
    &_prev {
        padding: 15px 25px 15px 55px;
        margin-right: 10px;
        &::after {
            background-image: url(../img/arrow-line-deepBlue-left.svg);
            left: -20px;
        }
        &:hover {
            &::after {
                left: -35px;
            }
        }
    }
    &_next {
        padding: 15px 55px 15px 25px;
        margin-left: 10px;
        &::after {
            background-image: url(../img/arrow-line-deepBlue-right.svg);
            right: -20px;
        }
        &:hover {
            &::after {
                right: -35px;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        a {
            font-size: 12px;
            &::after {
                width: 55px;
            }
        }
        &_prev {
            padding: 10px 20px 10px 45px;
        }
        &_next {
            padding: 10px 45px 10px 20px;
        }
    }
    @media screen and (max-width: 575px) {
        display: block;
        padding: 0 20px;
        a {
            width: 100%;
            margin: 0 0 15px 0;
        }
    }
}

.bg-page {
    background-image: url(../img/common-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 bottom;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        a {
            font-family: $font-mont;
            position: relative;
            transition: $transition-common;
            display: block;
            padding: 0 10px;
            &::after {
                position: absolute;
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: $blue-4;
                bottom: -7px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                transition: $transition-common;
            }
        }
        &:not(.pagination_arrow) {
            a {
                &.active, &:hover {
                    color: $blue-4;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    &_arrow {
        path {
            transition: $transition-common;
        }
        &:hover {
            path {
                fill: $blue-1;
            }
        }
    }
}

.title-page {
    font-family: $font-mont;
    color: $blue-1;
    margin-bottom: 45px;
    font-size: 32px;
    font-weight: 600;
}