.home {
    &_banner {
        position: relative;
        overflow: hidden;
        .banner_style {
            transition: $transition-common;
            transform: translateY(7.22vw);
            // opacity: 0;
        }
        &.scroll {
            .banner_style {
                // opacity: 1;
                transform: none;
            }
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 56.74%;
        }
        &_bg {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        &_main {
            position: absolute;
            width: 70%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            filter:drop-shadow(7px 7px 10px rgba(0,0,0,0.5));
        }
        &_circle {
            position: absolute;
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: drop-shadow(7px 7px 10px rgba(0,0,0,0.3));
            img {
                animation: bannerCircle 1.5s;
            }
        }
        &_text {
            position: absolute;
            width: 60%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            filter:drop-shadow(7px 7px 10px rgba(0,0,0,0.5));
            opacity: 0.9;
        }
        @media screen and (max-width: 767px) {
            .banner_style {
                transform: translateY(9.42vw);
            }
        }
        @media screen and (max-width: 575px) {
            &_pic {
                padding-bottom: 100%;
            }
            &_main {
                width: 90%;
                top: 60%;
            }
            &_text {
                width: 90%;
                top: 40%;
            }
            &_circle {
                transform: none;
                top: 10%;
                left: 65%;
                width: 40%;
            }
        }
    }
    &_scroll {
        position: absolute;
        left: 50%;
        bottom: 3%;
        transform: translateX(-50%);
        cursor: pointer;
        &_line {
            position: relative;
            width: 2px;
            height: 30px;
            background-color: #fff;
            margin: 0 auto 5px;
            .dot {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                animation: scroll 0.8s linear infinite alternate-reverse;
            }
        }
        span {
            font-family: $font-mont;
            text-align: center;
            color: #fff;
            font-size: 0.75em;
        }
    }
    &_about {
        padding: 220px 0 50px;
        position: relative;
        &_inner {
            background: linear-gradient(110.21deg, rgba(179, 226, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
            position: relative;
        }
        &_text {
            width: 45%;
            padding: 90px 50px;
            position: relative;
            p {
                font-size: 0.875em;
                line-height: 1.6;
                margin: 0;
            }
        }
        &_pic {
            width: 55%;
            padding-bottom: calc(55% * 0.5676);
            position: relative;
            transform: translateY(-79px);
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        .home_title {
            position: absolute;
            margin: 0;
            top: 0;
            left: 51%;
            transform: translateY(-50%);
        }
        .btn-more-bg {
            position: absolute;
            bottom: 79px;
            left: 120%;
            transform: translateY(50%);
        }
        &_ring {
            position: absolute;
            width: 12vw;
            bottom: 79px;
            right: 0;
            transform: translate(50%, 50%);
            z-index: -1;
        }
        @media screen and (max-width: 991px) {
            >.container {
                max-width: none;
            }
            &_text {
                padding: 60px 20px;
            }
        }
        @media screen and (max-width: 767px) {
            &_pic {
                width: 90%;
                padding-bottom: calc(90% * 0.5676);
                margin-left: auto;
                transform: translateY(-60px);
            }
            &_text {
                width: 100%;
                padding-top: 0;
            }
            .home_title {
                left: 20px;
                top: inherit;
                bottom: calc(100% + 60px);
                transform: translateY(50%);
            }
            .btn-more-bg {
                left: inherit;
                right: 60px;
                bottom: 0;
            }
            &_ring {
                display: none;
            }
        }
        @media screen and (max-width: 575px) {
            padding: 120px 0 100px;
            &_pic {
                transform: translateY(-40px);
            }
            .home_title {
                bottom: calc(100% + 40px);
            }
        }
    }
    &_title {
        color: #444;
        font-family: $font-play;
        font-size: 3.75em;
        font-weight: 700;
        position: relative;
        width: fit-content;
        z-index: 1;
        margin-bottom: 50px;
        white-space: nowrap;
        &::after {
            position: absolute;
            content: "";
            width: 32px;
            height: 32px;
            background-image: url(../img/title_bg.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 13%;
            right: 10%;
            z-index: -1;
        }
        @media screen and (max-width: 991px) {
            font-size: 3.25em;
        }
        @media screen and (max-width: 575px) {
            font-size: 2.75em;
        }
        @media screen and (max-width: 450px) {
            font-size: 2.5em;
            &::after {
                width: 25px;
                height: 25px;
            }
        }
    }
    &_capi {
        padding: 100px 20px 160px;
        background-image: url(../img/home_capibility_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        &_content {
            margin-top: 80px;
        }
        &_item {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 0 85px;
            transition: $transition-common;
            &_inner {
                img, svg {
                    display: block;
                    width: 75px;
                    margin: 0 auto 10px;
                    path {
                        fill: $blue-1;
                        transition: $transition-common;
                    }
                }
                h3 {
                    text-align: center;
                    color: $blue-1;
                    transition: $transition-common;
                    margin: 0;
                    font-size: 1em;
                    font-weight: normal;
                    font-family: $font-mont;
                }
            }
            &::after {
                width: calc(170px + 60px);
                height: calc(170px + 60px);
                position: absolute;
                content: "";
                background-image: url(../img/rotate.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:not(:first-child) {
                &::before {
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 22px;
                    border: 5px solid $blue-3;
                    border-radius: 50%;
                    top: 50%;
                    left: calc(-85px - 11px);
                }
            }
            &:hover {
                background-color: #fff;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
                .home_capi_item_inner {
                    svg {
                        path {
                            fill: #E9B300;
                        }
                    }
                    h3 {
                        color: #E9B300;
                    }
                }
                &::after {
                    animation: capiRotate 2s linear infinite;
                }
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &_intro {
            max-width: 1000px;
            // padding: 0 20px;
            margin: 80px auto 0;
            line-height: 1.6;
            text-align: justify;
        }
        @media screen and (max-width: 991px) {
            &_content {
                max-width: inherit;
            }
            &_item {
                width: 120px;
                height: 120px;
                &::after {
                    width: calc(120px + 60px);
                    height: calc(120px + 60px);
                    animation: capiRotate 2s linear infinite;
                }
            }
        }
        @media screen and (max-width: 767px) {
            padding-bottom: 200px;
            &_item {
                width: 100px;
                height: 100px;
                margin: 0 55px;
                &::after {
                    width: calc(100px + 40px);
                    height: calc(100px + 40px);
                }
                &:not(:first-child) {
                    &::before {
                        width: 18px;
                        height: 18px;
                        border-width: 4px;
                        left: calc(-55px - 9px);
                    }
                }
                &_inner {
                    img, svg {
                        width: 50px;
                        margin-bottom: 0;
                    }
                    h3 {
                        font-size: 0.875em;
                    }
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_item {
                margin: 0 auto 150px !important;
                width: 120px;
                height: 120px;
                &::after {
                    width: calc(120px + 60px);
                    height: calc(120px + 60px);
                    animation: capiRotate 2s linear infinite;
                }
                &:not(:first-child) {
                    &::before {
                        width: 18px;
                        height: 18px;
                        border-width: 4px;
                        left: 50%;
                        top: calc(-75px - 9px);
                        transform: translateX(-50%);
                    }
                }
                &:last-child {
                    margin-bottom: 75px !important;
                }
            }
        }
    }
    &_num {
        background-color: #fff;
        max-width: 1000px;
        width: calc(100% - 40px);
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        box-shadow: 0 5px 25px rgba(0,0,0,0.15);
        &_item {
            padding: 47px 10px 37px;
            text-align: center;
            font-family: $font-mont;
            h3 {
                font-weight: 700;
                color: $blue-4;
                // font-size: 52px;
                font-size: 3em;
                margin: 0 0 5px;
            }
            p {
                margin: 0;
                font-weight: normal;
                font-size: 1em;
            }
        }
        .row {
            margin: 0;
            >div {
                position: relative;
                padding: 0;
                &:not(:last-child) {
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 55px;
                        background-color: #C8C8C8;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 5px;
                    left: 0;
                    top: 0;
                }
                &:first-child {
                    &::before {
                        background-color: $blue-1;
                    }
                }
                &:nth-child(2) {
                    &::before {
                        background-color: $blue-2;
                    }
                }
                &:nth-child(3) {
                    &::before {
                        background-color: $blue-3;
                    }
                }
                &:nth-child(4) {
                    &::before {
                        background-color: $blue-4;
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_item {
                padding: 37px 10px 27px;
                h3 {
                    font-size: 3em;
                    margin-bottom: 0;
                }
            }
            .row {
                >div {
                    &:nth-child(2) {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 450px) {
            &_item {
                h3 {
                    font-size: 2.75em;
                }
                p {
                    font-size: 0.875em;
                }
            }
        }
    }
    &_product {
        margin-top: 185px;
        margin-bottom: 100px;
        background-image: url(../img/dot-1.png), url(../img/dot-2.png);
        background-size: 20vw, 16vw;
        background-position: 0 0, right bottom;
        background-repeat: no-repeat;
        @media screen and (max-width: 575px) {
            background-size: 40vw, 32vw;
        }
    }
    &_appl {
        padding-left: calc((100vw - 1320px) / 2);
        position: relative;
        .home_title {
            position: absolute;
            top: 13%;
            left: calc((100vw - 1320px) / 2);
            &::after {
                display: none;
            }
        }
        &_inner {
            position: relative;
            margin-left: auto;
            background-image: url(../img/home_application_bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 85px;
            width: 90%;
            padding-bottom: calc(90% * 0.39);
        }
        &_content {
            padding-right: calc((100vw - 1320px) / 2);
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &_swiper {
            position: absolute;
            width: 90%;
            right: 0;
            top: 45%;
            padding-bottom: 100px;
        }
        &_item {
            display: block;
            padding: 30px 20px;
            transition: $transition-common;
            &:hover {
                background-color: #fff;
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                .home_appl {
                    &_main {
                        svg {
                            fill: $blue-4;
                        }
                        h3 {
                            color: $blue-4;
                        }
                    }
                    &_intro {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        &_main {
            svg, img {
                width: 60px;
                display: block;
                margin: 0 auto 20px;
                path {
                    transition: $transition-common;
                    fill: $blue-1;
                }
            }
            h3 {
                text-align: center;
                font-family: $font-mont;
                font-weight: normal;
                font-size: 1em;
                margin-bottom: 10px;
                color: $blue-1;
                transition: $transition-common;
            }
        }
        &_intro {
            // font-family: $font-mont;
            font-weight: normal;
            font-size: 0.875em;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: $transition-common;
            margin: 0;
        }
        &_ring {
            position: absolute;
            width: 20vw;
            left: 0;
            top: 9%;
            transform: translateX(-50%);
            z-index: -1;
        }
        &_arrow {
            position: absolute;
            left: calc((100vw - 1320px) / 2);
            top: 69%;
            &_item {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $blue-1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition-common;
                svg {
                    width: 6px;
                    path {
                        transition: $transition-common;
                    }
                }
                &:hover {
                    background-color: $blue-2;
                    border-color: $blue-2;
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        &_prev {
            margin-right: 10px;
        }
        @media screen and (max-width: 1399px) {
            padding-left: calc((100vw - 1140px) / 2);
            .home_title {
                left: calc((100vw - 1140px) / 2);
            }
            &_content {
                padding-right: calc((100vw - 1140px) / 2);
            }
            &_arrow {
                left:  calc((100vw - 1140px) / 2);
            }
        }
        @media screen and (max-width: 1199px) {
            padding-left: calc((100vw - 960px) / 2);
            .home_title {
                left: calc((100vw - 960px) / 2);
            }
            &_content {
                padding-right: calc((100vw - 960px) / 2);
            }
            &_arrow {
                left:  calc((100vw - 960px) / 2);
            }
        }
        @media screen and (max-width: 991px) {
            padding-left: 0;
            .home_title {
                top: 10%;
                left: 20px;
                // transform: translateY(-50%);
            }
            &_content {
                padding-right: 0;
            }
            &_ring {
                top: 0;
                transform: translate(-50%, -50%);
                width: 30vw;
            }
            &_swiper {
                width: 100%;
            }
            &_arrow {
                position: static;
            }
            &_inner {
                margin-bottom: 50px;
                padding-bottom: calc(90% * 0.5);
            }
            &_btn {
                max-width: inherit;
                padding-left: 20px;
                padding-right: 20px;
            }
            &_intro {
                display: none;
            }
        }
        @media screen and (max-width: 767px) {
            &_main {
                h3 {
                    font-size: 0.875em;
                }
            }
            &_inner {
                padding: 150px 30px 50px;
            }
            &_content {
                position: static;
            }
            &_swiper {
                position: static;
                padding: 0;
            }
            &_item {
                padding: 0;
            }
        }
        @media screen and (max-width: 575px) {
            &_ring {
                width: 40vw;
            }
        }
    }
    &_media {
        padding-left: calc((100vw - 1320px) / 2);
        margin-top: 100px;
        padding-bottom: 150px;
        background-image: url(../img/dot-3.png);
        background-size: 20vw;
        background-position: 15vw bottom;
        background-repeat: no-repeat;
        &_content {
            width: 80%;
        }
        &_item {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            transition: $transition-common;
            &:hover {
                opacity: 1 !important;
                .home_media {
                    &_pic {
                        box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
                    }
                    &_text {
                        h3 {
                            color: $blue-1;
                        }
                    }
                    &_date, &_intro {
                        color: $blue-1;
                    }
                }
            }
        }
        &_pic {
            width: 47%;
            padding-bottom: calc(47% * 0.67);
            position: relative;
            transition: $transition-common;
            background-color: #CBF1F1;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                top: 0;
                left: 0;
            }
        }
        &_tag {
            position: absolute;
            background-color: $blue-2;
            font-family: $font-mont;
            color: #fff;
            padding: 5px 20px;
            font-weight: 700;
            top: 30px;
            left: -20px;
            transition: $transition-common;
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 30%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.44) 100%);
            left: 0;
            bottom: 0;
        }
        &_left {
            width: 20%;
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &_text {
            padding-left: 30px;
            width: 53%;
            h3 {
                font-size: 1.25em;
                margin-bottom: 15px;
                font-family: $font-mont;
                transition: $transition-common;
            }
        }
        &_swiper {
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            .swiper-slide {
                // transition: $transition-common;
                .home_media_tag {
                    opacity: 0;
                }
                .home_media_item {
                    opacity: 0.5;
                }
                &-active {
                    .home_media_tag, .home_media_item {
                        opacity: 1;
                    }
                }
            }
        }
        &_date {
            font-family: $font-mont;
            color:$gray-c1;
            font-weight: 300;
            margin-bottom: 15px;
            transition: $transition-common;
        }
        &_intro {
            font-size: 0.875em;
            color:$gray-c1;
            margin: 0;
            font-weight: 300;
            transition: $transition-common;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        @media screen and (max-width: 1399px) {
            padding-left: calc((100vw - 1140px) / 2);
        }
        @media screen and (max-width: 1199px) {
            padding-left: 30px;
            &_left {
                width: 25%;
            }
            &_content {
                width: 75%;
            }
        }
        @media screen and (max-width: 991px) {
            padding-left: 30px;
            background-size: 30vw;
            padding-bottom: 100px;
            &_left {
                width: 100%;
                padding-right: 30px;
                .btn-more-bg {
                    transform: translateX(-30px);
                }
            }
            &_content {
                width: 100%;
            }
        }
        @media screen and (max-width: 767px) {
            background-position: 120% top;
            background-size: 40vw;
            &_pic {
                width: 100%;
                padding-bottom: 67%;
            }
            &_text {
                width: 100%;
                padding-top: 20px;
                padding-left: 0;
                h3 {
                    font-size: 1.125em;
                    margin-bottom: 10px;
                }
            }
            &_date {
                font-size: 0.875em;
                margin-bottom: 10px;
            }
        }
    }
}

@keyframes bannerCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scroll {
    0% {
        top: 0;
    }
    100% {
        top: calc(100% - 6px);
    }
}

@keyframes capiRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ring {
    position: absolute;
    z-index: 10;
    &-1 {
        width: 15vw;
        right: 0;
        top: 53vw;
    }
    &-2 {
        width: 18vw;
        left: 0;
        top: calc(53vw + 650px);
    }
    &.fixed {
        position: fixed;
        z-index: 0;
        &.ring {
            &-1 {
                top: 80px;
            }
            &-2 {
                top: inherit;
                bottom: -10%;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &-1 {
            top: 60vw;
        }
        &-2 {
            top: calc(53vw + 600px);
        }
    }
    @media screen and (max-width: 1199px) {
        &-1 {
            top: 68vw;
        }
        &-2 {
            top: calc(53vw + 550px);
        }
    }
    @media screen and (max-width: 767px) {
        &-1 {
            width: 20vw;
        }
        &-2 {
            width: 23vw;
            top: calc(53vw + 750px);
        }
    }
    @media screen and (max-width: 575px) {
        &-1 {
            top: 100vw;
            width: 25vw;
        }
        &-2 {
            width: 28vw;
            top: calc(53vw + 800px);
        }
    }
    @media screen and (max-width: 450px) {
        &-1 {
            top: 110vw;
        }
        &-2 {
            top: calc(53vw + 750px);
        }
    }
}