.product {
    &_list {
        margin-left: -20px;
        margin-right: -20px;
        >div {
            padding-left: 20px;
            padding-right: 20px;
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 75%;
            transition: $transition-common;
            margin-bottom: 15px;
            border: 1px solid transparent;
            &:hover {
                border-color: $blue-4;
                box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                .product_list_hover {
                    opacity: 1;
                }
            }
        }
        &_swiper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
            .swiper-pagination {
                z-index: 2;
                &-bullet {
                    margin: 0 2px;
                    background-color: #fff;
                    opacity: 1;
                    &-active {
                        background-color: $blue-2;
                    }
                }
            }
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 30%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        &_hover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // object-fit: cover;
            transition: $transition-common;
            opacity: 0;
            z-index: 3;
            background-color: #fff;
        }
        &_video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
        &_item {
            margin-bottom: 65px;
            h3 {
                font-family: $font-mont;
                text-align: center;
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 600;
            }
        }
        @media screen and (max-width: 991px) {
            margin-left: -10px;
            margin-right: -10px;
            >div {
                padding-left: 10px;
                padding-right: 10px;
            }
            &_item {
                margin-bottom: 45px;
            }
        }
        @media screen and (max-width: 450px) {
            >div {
                width: 100%;
            }
            &_item {
                margin-bottom: 25px;
            }
        }
    }
    &_more {
        width: 115px;
        height: 35px;
        border: 1px solid #C1C1C1;
        display: block;
        position: relative;
        margin: 0 auto;
        transition: $transition-second;
        overflow: hidden;
        span {
            width: 100%;
            position: absolute;
            font-size: 12px;
            font-family: $font-mont;
            color: #c1c1c1;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition-second;
        }
        &_circle {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $blue-2;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: $transition-second;
        }
        &:hover {
            border-color: $blue-2;
            span {
                color: #fff;
            }
            .product_more_circle {
                opacity: 1;
                width: 120px;
                height: 120px;
            }
        }
    }
    &_class {
        padding: 70px 0 150px;
        background-image: url(../img/product_bg.png);
        background-size: 100vw;
        background-position: center top;
        background-repeat: no-repeat;
        &_pic {
            margin-top: 40px;
            width: 100%;
            padding-bottom: 40%;
            position: relative;
            &_swiper {
                position: absolute;
                max-width: 1100px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                .swiper-slide-active {
                    .product_class_pic_main {
                        border-color: transparent;
                        width: 100%;
                        padding-bottom: 100%;
                        margin-bottom: 70px;
                    }
                    .product_class_name {
                        font-size: 30px;
                        color: #000;
                    }
                }
                .swiper-slide {
                    transition: $transition-common;
                    &:not(.swiper-slide-active) {
                        margin-top: 9vw;
                    }
                }
            }
            &_main {
                position: relative;
                width: 50%;
                padding-bottom: 50%;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 20px;
                display: block;
                box-shadow: 0 10px 30px rgba(0,0,0,0.08);
                border: 2px solid $blue-3;
                transition: $transition-common;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_name {
            text-align: center;
            color: $blue-1;
            font-family: $font-mont;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            transition: $transition-common;
        }
        &_intro {
            max-width: 1000px;
            width: 100%;
            margin: 5.4vw auto 0;
            &_item {
                display: flex;
            }
            &_video {
                width: 30%;
                video {
                    width: 100%;
                }
            }
            &_text {
                width: 70%;
                padding-left: 40px;
                padding-top: 45px;
                p {
                    font-size: 14px;
                    line-height: 1.6;
                    margin-bottom: 50px;
                }
            }
        }
        &_arrow {
            &_item {
                width: 50px;
                margin: 0 10px;
                cursor: pointer;
                img, svg {
                    width: 100%;
                    path {
                        transition: $transition-common;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $blue-2;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1399px) {
            &_pic {
                padding-bottom: 50%;
            }
        }
        @media screen and (max-width: 991px) {
            padding: 35px 0 100px;
            background-image: url(../img/product_bg-plate.png);
            .container {
                max-width: inherit;
            }
            &_pic {
                margin-top: 5vw;
                padding-bottom: 55%;
                &_swiper {
                    .swiper-slide {
                        &:not(.swiper-slide-active) {
                            margin-top: 15vw;
                        }
                    }
                }
            }
            &_intro {
                &_text {
                    padding-top: 0;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_pic {
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            margin-bottom: 40px;
                        }
                        .product_class_name {
                            font-size: 26px;
                        }
                    }
                }
            }
            &_intro {
                &_item {
                    display: block;
                }
                &_video {
                    width: 50%;
                    margin: 0 auto;
                }
                &_text {
                    padding-top: 30px;
                    padding-left: 0;
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_pic {
                padding-bottom: 70%;
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            margin-bottom: 30px;
                        }
                        .product_class_name {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 450px) {
            &_pic {
                padding-bottom: 90%;
                &_main {
                    width: 30%;
                    padding-bottom: 30%;
                }
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            border-color: transparent;
                            width: 60%;
                            padding-bottom: 60%;
                        }
                    }
                }
            }
            &_intro {
                &_video {
                    width: 100%;
                }
            }
        }
    }
    &_classList {
        &_intro {
            max-width: 1000px;
            width: 100%;
            padding: 0 20px;
            margin: 0 auto 65px;
            p {
                line-height: 1.6;
                margin: 0;
            }
        }
        &_content {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            margin-bottom: 150px;
        }
        &_item {
            background-color: #fff;
            display: flex;
            align-items: center;
            border: 1px solid $gray-85;
            border-radius: 15px;
            padding: 10px 10px 0; 
            transition: $transition-common;
            margin-bottom: 20px;
            h3 {
                margin: 0;
                padding-left: 15px;
                font-weight: normal;
                margin: 0;
                font-size: 16px;
                width: calc(100% - 85px);
                padding-bottom: 10px;
                transition: $transition-common;
            }
            &:hover {
                border-color: $blue-4;
                h3 {
                    color: $blue-4;
                }
            }
        }
        &_pic {
            width: 85px;
            img {
                width: 100%;
            }
        }
    }
}