.product {
    &_list {
        margin-left: -20px;
        margin-right: -20px;
        >div {
            padding-left: 20px;
            padding-right: 20px;
        }
        &_pic {
            position: relative;
            width: 100%;
            padding-bottom: 75%;
            transition: $transition-common;
            margin-bottom: 15px;
            border: 1px solid transparent;
            &:hover {
                border-color: $blue-4;
                box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                .product_list_hover {
                    opacity: 1;
                }
            }
            &_main {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_swiper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            .swiper-wrapper, .swiper-slide {
                width: 100%;
                height: 100%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
            .swiper-pagination {
                z-index: 2;
                &-bullet {
                    margin: 0 2px;
                    background-color: #fff;
                    opacity: 1;
                    &-active {
                        background-color: $blue-2;
                    }
                }
            }
        }
        &_mask {
            position: absolute;
            width: 100%;
            height: 30%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
            left: 0;
            bottom: 0;
            z-index: 1;
        }
        &_hover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // object-fit: cover;
            transition: $transition-common;
            opacity: 0;
            z-index: 3;
            background-color: #fff;
        }
        &_video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: contain;
        }
        &_item {
            margin-bottom: 65px;
            h3 {
                font-family: $font-mont;
                text-align: center;
                margin-bottom: 15px;
                font-size: 1.25em;
                font-weight: 600;
            }
        }
        @media screen and (max-width: 991px) {
            margin-left: -10px;
            margin-right: -10px;
            >div {
                padding-left: 10px;
                padding-right: 10px;
            }
            &_item {
                margin-bottom: 45px;
            }
        }
        @media screen and (max-width: 450px) {
            >div {
                width: 100%;
            }
            &_item {
                margin-bottom: 25px;
            }
        }
    }
    &_more {
        width: 115px;
        height: 35px;
        border: 1px solid #C1C1C1;
        display: block;
        position: relative;
        margin: 0 auto;
        transition: $transition-second;
        overflow: hidden;
        span {
            width: 100%;
            position: absolute;
            font-size: 0.75em;
            font-family: $font-mont;
            color: #c1c1c1;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition-second;
        }
        &_circle {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $blue-2;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: $transition-second;
        }
        &:hover {
            border-color: $blue-2;
            span {
                color: #fff;
            }
            .product_more_circle {
                opacity: 1;
                width: 120px;
                height: 120px;
            }
        }
    }
    &_class {
        padding: 70px 0 150px;
        background-image: url(../img/product_bg.png);
        background-size: 100vw;
        background-position: center top;
        background-repeat: no-repeat;
        &_pic {
            margin-top: 40px;
            width: 100%;
            padding-bottom: 40%;
            position: relative;
            &_swiper {
                position: absolute;
                max-width: 1100px;
                width: 100%;
                height: 100%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                .swiper-slide-active {
                    .product_class_pic_main {
                        border-color: transparent;
                        width: 100%;
                        padding-bottom: 100%;
                        margin-bottom: 70px;
                    }
                    .product_class_name {
                        font-size: 1.875em;
                        color: #000;
                    }
                }
                .swiper-slide {
                    transition: $transition-common;
                    &:not(.swiper-slide-active) {
                        margin-top: 9vw;
                    }
                }
            }
            &_main {
                position: relative;
                width: 50%;
                padding-bottom: 50%;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto 20px;
                display: block;
                box-shadow: 0 10px 30px rgba(0,0,0,0.08);
                border: 2px solid $blue-3;
                transition: $transition-common;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_name {
            text-align: center;
            color: $blue-1;
            font-family: $font-mont;
            font-size: 1.25em;
            font-weight: 600;
            margin: 0;
            transition: $transition-common;
        }
        &_intro {
            max-width: 1000px;
            width: 100%;
            margin: 5.4vw auto 0;
            &_item {
                display: flex;
            }
            &_video {
                width: 30%;
                video {
                    width: 100%;
                }
            }
            &_text {
                width: 70%;
                padding-left: 40px;
                padding-top: 45px;
                p {
                    font-size: 0.875em;
                    line-height: 1.6;
                    margin-bottom: 50px;
                }
            }
        }
        &_arrow {
            &_item {
                width: 50px;
                margin: 0 10px;
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                img, svg {
                    width: 100%;
                    path {
                        transition: $transition-common;
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $blue-2;
                        }
                    }
                }
                &.product_class {
                    &_prev {
                        left: 0;
                    }
                    &_next {
                        right: 0;
                    }
                }
            }
        }
        @media screen and (max-width: 1399px) {
            &_pic {
                padding-bottom: 50%;
            }
        }
        @media screen and (max-width: 991px) {
            padding: 35px 0 100px;
            background-image: url(../img/product_bg-plate.png);
            .container {
                max-width: inherit;
            }
            &_pic {
                margin-top: 5vw;
                padding-bottom: 55%;
                &_swiper {
                    .swiper-slide {
                        &:not(.swiper-slide-active) {
                            margin-top: 15vw;
                        }
                    }
                }
            }
            &_intro {
                &_text {
                    padding-top: 0;
                }
            }
            &_arrow {
                &_item {
                    position: static;
                    transform: none;
                }
            }
        }
        @media screen and (max-width: 767px) {
            &_pic {
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            margin-bottom: 40px;
                        }
                        .product_class_name {
                            font-size: 1.625em;
                        }
                    }
                }
            }
            &_intro {
                &_item {
                    display: block;
                }
                &_video {
                    width: 50%;
                    margin: 0 auto;
                }
                &_text {
                    padding-top: 30px;
                    padding-left: 0;
                    width: 100%;
                }
            }
        }
        @media screen and (max-width: 575px) {
            &_pic {
                padding-bottom: 70%;
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            margin-bottom: 30px;
                        }
                        .product_class_name {
                            font-size: 1.375em;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 450px) {
            &_pic {
                padding-bottom: 90%;
                &_main {
                    width: 30%;
                    padding-bottom: 30%;
                }
                &_swiper {
                    .swiper-slide-active {
                        .product_class_pic_main {
                            border-color: transparent;
                            width: 60%;
                            padding-bottom: 60%;
                        }
                    }
                }
            }
            &_intro {
                &_video {
                    width: 100%;
                }
            }
        }
    }
    &_classList {
        &_intro {
            max-width: 1000px;
            width: 100%;
            padding: 0 20px;
            margin: 0 auto 65px;
            p {
                line-height: 1.6;
                margin: 0;
            }
        }
        &_content {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            margin-bottom: 150px;
        }
        &_item {
            background-color: #fff;
            display: flex;
            align-items: center;
            border: 1px solid $gray-85;
            border-radius: 15px;
            padding: 10px 10px 0; 
            transition: $transition-common;
            margin-bottom: 20px;
            h3 {
                margin: 0;
                padding-left: 15px;
                font-weight: normal;
                margin: 0;
                font-size: 1em;
                width: calc(100% - 85px);
                padding-bottom: 10px;
                transition: $transition-common;
            }
            &:hover {
                border-color: $blue-4;
                h3 {
                    color: $blue-4;
                }
            }
        }
        &_pic {
            width: 85px;
            img {
                width: 100%;
            }
        }
    }
    &_detail {
        padding-top: 70px;
        padding-bottom: 100px;
        position: relative;
        &_bigRing {
            position: absolute;
            width: 27.5vw;
            top: -8%;
            left: 0;
            z-index: -1;
        }
        &_smallRing {
            position: absolute;
            width: 16vw;
            top: 57%;
            right: 0;
            z-index: -1;
        }
        &_pic {
            width: 45%;
            position: relative;
            &_inner {
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                box-shadow: 0 10px 30px rgba(0,0,0,0.1);
                border-radius: 50%;
                overflow: hidden;
            }
        }
        &_bigPic {
            position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                width: 100%;
                height: 100%;
            }
            &_content {
                width: 100%;
                height: 100%;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_text {
            width: 55%;
            padding-left: 100px;
            .breadcrumb {
                margin-bottom: 35px;
            }
            h1 {
                font-size: 2em;
                font-weight: 600;
                font-family: $font-mont;
                margin-bottom: 15px;
            } 
        }
        &_intro {
            margin-bottom: 15px;
            p {
                font-size: 0.875em;
                margin: 0;
            }
        }
        &_arrow {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 4;
            transition: $transition-common;
            &:hover {
                background-color: $blue-2;
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
            svg {
                width: 40%;
            }
        }
        &_prev {
            top: 32%;
            right: -1%;
        }
        &_next {
            bottom: 32%;
            right: -1%;
        }
        &_inquiry {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            background-color: $blue-4;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            width: 75px;
            height: 75px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 4;
            transition: $transition-common;
            svg {
                width: 25%;
                path {
                    fill: #fff;
                }
            }
            span {
                text-align: center;
                color: #fff;
                width: 100%;
                display: block;
                font-size: 0.875em;
            }
            &:hover {
                background-color: $blue-2;
            }
        }
        &_sidePic {
            position: absolute;
            width: 50px;
            height: 245px;
            top: 50%;
            left: -75px;
            transform: translateY(-50%);
            &_arrow {
                position: absolute;
                width: 15px;
                svg {
                    width: 100%;
                    path {
                        transition: $transition-common;
                    }
                }
                &.sidePic {
                    &-prev {
                        left: -50px;
                        top: 50%;
                        transform: translate(-50%, calc(-150px - 100%));
                    }
                    &-next {
                        left: -50px;
                        top: 50%;
                        transform: translate(-50%, 150px);
                    }
                }
                &:hover {
                    svg {
                        path {
                            fill: $blue-4;
                        }
                    }
                }
            }
        }
        &_smallPic {
            position: absolute;
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
            }
            .swiper-slide {
                cursor: pointer;
                &-active {
                    .product_detail_smallPic_content {
                        border-color: $blue-4;
                    }
                }
            }
            &_content {
                width: 100%;
                padding-bottom: 100%;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                border: 1px solid #D9D9D9;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
        }
        &_download {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 1199px) {
            >.container {
                max-width: inherit;
                padding: 0 50px 0 120px;
            }
            &_prev {
                top: 28%;
            }
            &_next {
                bottom: 28%;
            }
        }
        @media screen and (max-width: 991px) {
            &_bigRing {
                width: 50vw;
                top: -14%;
                left: 0;
            }
            >.container {
                padding: 0 40px;
            }
            &_pic {
                margin: 0 auto 50px;
                width: 100%;
                max-width: 450px;
            }
            &_prev {
                top: 23%;
            }
            &_next {
                bottom: 23%;
            }
            &_text {
                width: 100%;
                padding-left: 0;
            }
        }
        @media screen and (max-width: 575px) {
            padding-bottom: 60px;
            &_bigRing {
                top: -0%;
            }
            &_smallRing {
                width: 35vw;
            }
        }
        @media screen and (max-width: 400px) {
            &_prev {
                top: 21%;
            }
            &_next {
                bottom: 21%;
            }
            &_inquiry {
                width: 65px;
                height: 65px;
            }
            &_arrow {
                width: 35px;
                height: 35px;
            }
        }
        @media screen and (max-width: 370px) {
            &_prev {
                top: 16%;
            }
            &_next {
                bottom: 16%;
            }
        }
    }
    &_intro {
        background-image: url(../img/dot-3.png), url(../img/dot-3.png);
        background-size: 27vw, 27vw;
        background-position: -5% bottom, 90% 15%;
        background-repeat: no-repeat;
        &_list {
            li {
                position: relative;
                padding-left: 15px;
                font-size: 0.875em;
                margin-bottom: 8px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: $blue-4;
                    left: 0;
                    top: 10px;
                }
            }
        }
        &_section {
            margin-bottom: 50px;
            >img {
                max-width: 100%;
            }
        }
        h2 {
            font-size: 1em;
            font-family: $font-mont;
            font-weight: 600;
            margin-bottom: 15px;
            color: $blue-1;
        }
        p {
            font-size: 0.875em;
        }
        &_range {
            min-width: 450px;
            td {
                padding: 10px 20px;
                font-size: 0.875em;
                border-bottom: 1px solid #E6E6E6;
            }
            tr {
                &:last-child {
                    td {
                        border: 0;
                    }
                }
            }
            &_title {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: $blue-4;
                    left: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &_appl {
            .row {
                margin-left: -27px;
                margin-right: -27px;
                >div {
                    padding-left: 27px;
                    padding-right: 27px;
                }
            }
            &_item {
                width: 100%;
                padding-bottom: 100%;
                position: relative;
                border-radius: 50%;
                background: rgba(143, 224, 228, 0.14);
                margin-bottom: 20px;
                display: block;
                &:hover {
                    .product_intro_appl {
                        &_inner {
                            box-shadow: 0 4px 15px rgba(0,0,0,0.15);
                        }
                        &_mask {
                            opacity: 1;
                        }
                        &_icon {
                            opacity: 1;
                        }
                    }
                }
            }
            &_inner {
                position: absolute;
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: $transition-common;
                border-radius: 50%;
            }
            &_content {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
            }
            &_pic {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            &_mask {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(143, 224, 228, 0.8);
                top: 0;
                left: 0;
                border-radius: 50%;
                transition: $transition-common;
                opacity: 0;
            }
            &_icon {
                position: absolute;
                width: 50px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: $transition-common;
                opacity: 0;
                path {
                    fill: #fff;
                }
            }
            &_name {
                text-align: center;
                margin: 0;
                font-weight: normal;
                font-size: 1em;
                font-family: $font-mont;
                font-weight: 500;
                margin-bottom: 40px;
            }
        }
        &_table {
            &_content {
                overflow-x: auto;
            }
            &_title {
                h3 {
                    margin: 0;
                    font-family: $font-mont;
                    font-size: 1em;
                    font-weight: normal;
                    font-weight: 500;
                    color: $blue-1;
                    width: calc(100% - 75px);
                }
                span {
                    font-size: 0.875em;
                    margin: 0;
                    width: 75px;
                    display: block;
                }
            }
            table {
                width: 100%;
                thead {
                    background-color: $blue-1;
                    color: #fff;
                    td {
                        padding: 20px 10px;
                        font-size: 0.8125em;
                        font-family: $font-mont;
                        text-align: center;
                        font-weight: 600;
                    }
                }
                tbody {
                    td {
                        padding: 15px 10px;
                        text-align: center;
                        font-size: 0.875em;
                    }
                    tr {
                        &:nth-child(odd) {
                            background-color: #fff;
                        }
                        &:nth-child(even) {
                            background-color: #ECEFF1;
                        }
                    }
                }
                td {
                    white-space: nowrap;
                }
            }
        }
        @media screen and (max-width: 1199px) {
            &_appl {
                .row {
                    margin-left: -15px;
                    margin-right: -15px;
                    >div {
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
                &_inner {
                    width: calc(100% - 30px);
                    height: calc(100% - 30px);
                }
            }
        }
        @media screen and (max-width: 767px) {
            background-size: 40vw, 40vw;
            background-position: -5% bottom, 100% 15%;
        }
        @media screen and (max-width: 575px) {
            &_range {
                min-width: inherit;
                width: 100%;
                td {
                    font-size: 0.8125em;
                }
            }
            &_table {
                &_title {
                    h3 {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    span {
                        width: 100%;
                    }
                }

            }
        }
        @media screen and (max-width: 450px) {
            &_appl {
                .row {
                    margin-left: -10px;
                    margin-right: -10px;
                    >div {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                &_inner {
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                }
                &_name {
                    font-size: 0.875em;
                }
            }
        }
    }
}

.inquiry {
    >.row {
        margin-left: 0;
        margin-right: 0;
        >div {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &_order {
        padding-left: 40px;
        background-color: #f5f5f5;
        padding-top: 70px;
        padding-right: 50px;
        padding: 70px 40px;
        // height: calc(100vh - 80px);
        // overflow-y: auto;
        &_item {
            display: flex;
            align-items: center;
            margin-top: 25px;
            &:first-child {
                margin-top: 0;
            }
        }
        &_pic {
            width: 20%;
            padding-bottom: calc(20% * 0.75);
            position: relative;
            display: block;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                transition: $transition-common;
            }
            &:hover {
                >img {
                    transform: scale(1.5);
                }
            }
        }
        &_text {
            width: 80%;
            padding-left: 15px;
            display: flex;
            align-items: center;
        }
        &_delete {
            width: 25px;
            padding: 0;
            margin-left: 50px;
            transition: $transition-common;
            svg {
                width: 100%;
                path {
                    transition: $transition-common;
                }
            }
            &:hover {
                border-color: $blue-1;
                svg {
                    width: 100%;
                    path {
                        fill: $blue-1;
                    }
                }
            }
        }
        &_title {
            width: calc(100% - 25px - 50px - 100px);
            h3 {
                font-family: $font-mont;
                font-size: 1.25em;
                font-weight: 600;
                color: $blue-4;
                margin-bottom: 5px;
            }
            p {
                font-family: $font-mont;
                margin: 0;
                font-size: 0.875em;
                color: $gray-85;
            }
        }
        &_num {
            width: 100px;
            display: flex;
            align-items: center;
            &_btn {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid $gray-bb;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                cursor: pointer;
                transition: $transition-common;
                svg {
                    width: 60%;
                    path {
                        transition: $transition-common;
                    }
                }
                &:hover {
                    border-color: $blue-1;
                    svg {
                        width: 100%;
                        path {
                            stroke: $blue-1;
                        }
                    }
                }
            }
            input {
                width: calc(100% - 60px);
                text-align: center;
                font-weight: 600;
                font-family: $font-mont;
            }
        }
    }
    h2 {
        font-weight: 600;
        font-size: 1.5em;
        font-family: $font-mont;
        color: $blue-1;
        margin-bottom: 35px;
    }
    &_form {
        padding: 116px 40px 70px 40px;
        padding-left: 0;
        padding-right: 0;
        // height: calc(100vh - 80px);
        // overflow-y: auto;
        h3 {
            font-family: $font-mont;
            font-size: 1.25em;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &_profile {
            // max-width: 450px;
            width: 100%;
            &_item {
                margin-bottom: 60px;
                >img {
                    width: 100%;
                    margin-bottom: 15px;
                }
                >.row {
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: -10px;
                    margin-right: -10px;
                    >div {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            &_input {
                display: flex;
                align-items: center;
                label {
                    font-family: $font-mont;
                    font-size: 0.875em;
                    font-weight: 500;
                    width: 20px;
                    display: block;
                }
                input {
                    width: calc(100% - 20px);
                    height: 35px;
                    border-bottom: 1px solid #000;
                    text-align: center;
                }
            }
        }
        &_btn {
            padding-top: 37px;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            button {
                // width: calc(50% - 8px);
                width: 150px;
                // margin-right: 15px;
                height: 50px;
            }
        }
        &_section {
            margin-bottom: 30px;
        }
    }
    @media screen and (max-width: 991px) {
        &_order {
            height: auto;
            overflow-y: inherit;
        }
        &_form {
            height: auto;
            overflow-y: inherit;
            padding-top: 50px;
        }
    }
    @media screen and (max-width: 767px) {
        &_order {
            padding-left: 20px;
            padding-right: 20px;
            &_text {
                flex-wrap: wrap;
                justify-content: space-between;
                width: calc(100% - 100px);
                position: relative;
            }
            &_title {
                width: calc(100% - 30px);
                margin-bottom: 10px;
                h3 {
                    font-size: 1.125em;
                }
                p {
                    font-size: 0.8125em;
                }
            }
            &_pic {
                width: 100px;
                padding-bottom: calc(100px * 0.75);
            }
            &_delete {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &_form {
            // padding-left: 20px;
            // padding-right: 20px;
        }
    }
    @media screen and (max-width: 400px) {
        &_form {
            &_profile {
                >.row {
                    >div {
                        width: 100%;
                    }
                }
                &_item {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.highlight {
    font-weight: 600;
    color: $blue-4;
}

.check {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    &_item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 10px;
        height: 50px;
        cursor: pointer;
        span {
            font-size: 0.875em;
            width: calc(100% - 20px);
            padding-left: 10px;
        }
        &.active {
            .check_box {
                background-color: $blue-2;
                border-color: $blue-2;
                img {
                    opacity: 1;
                }
            }
        }
        .input-item_unit {
            margin-left: 15px;
            .input-common {
                width: 100px;
                margin-right: 10px;
            }
            span {
                width: auto;
            }
        }
    }
    &_box {
        width: 20px;
        height: 20px;
        border: 1px solid $gray-bb;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition-common;
        img {
            width: 80%;
            transition: $transition-common;
            opacity: 0;
        }
    }
}